# Python
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
*.txt
!requirements.txt
!README.md

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# MLOps & Training (Heavy Data / Logs)
mlruns/
lightning_logs/
*.ckpt
*.pth
*.pkl

# Project Data Folders
dataset/
data/
temp/

# Generated Reports
reports/
*.html

# OS specific
.DS_Store
Thumbs.db
